@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);

    --open-sans: 'Open Sans', sans-serif;
    --poppins:'Poppins', sans-serif;
}
body{
    background-color: var(--Violet);
    background-image: url("images/bg-desktop.svg");
    background-size: cover;
    color: white;
    font-family: var(--open-sans);

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
section h1{
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 2.5rem;
    max-width: 500px;
}
section{
    display: flex;

}
#botao{
    display: block;
    color: var(--Violet);
    text-decoration: none;
    background-color: white;
    width: fit-content;
    padding: 15px 60px;
    border-radius: 30px;

    box-shadow: 0px 5px 10px #43326c;
}
#botao:hover{
    opacity:0.9;
}

section p {
    max-width: 460px;
    margin: 20px 0 20px 0;
}
img{
    width: 100%;
    /* min-width: 300px; */

}
#text{
    margin-left: 35px;
    margin-top: 40px;
}
#logo{
    width: 250px;
    margin-bottom: 96px;
    margin-top: 50px;
}
footer{
    margin-top: 20px;
}
.attribution {
     font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(0, 0%, 73%); 
     text-decoration: none;
    }
    .attribution a:hover {
        text-decoration: underline;
       }
   
@media(max-width:800px){
    body{
        background-color: var(--Violet);
        background-image: url("images/bg-mobile.svg");
        background-size: cover;
        background-position: right center;
        background-repeat: no-repeat;

        color: white;
        font-family: var(--open-sans);
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        min-height: 100vh;
        padding: 0 20px;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img{
        min-width: 300px;
        max-width: 500px;
    
    }
    .center{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;

        margin-bottom: 50px;
    }
    #botao{
        display: block;
        color: var(--Violet);
        text-decoration: none;
        background-color: white;
        width: fit-content;
        padding: 15px  90px;
        border-radius: 30px;
    
        box-shadow: 0px 5px 10px #43326c;
    }
    #text{
        margin-left: 0;
        margin-top: 0;
    }
}